.contentContainer {
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
}

.teamsTitle {
    width: 80%;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.teamsText {
    color: var(--main-orange);
    margin: 0;
}


.availableTeams {
    font-size: 22px;
    margin-bottom: 2vh;
    color: var(--main-orange);
    font-family: "gotham-bold";
}

.teamsShift {
    font-size: 14px;
    color: grey;
    margin-top: 1vh;
}

.teamsSelection{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 5vh;
}

.teamsButton{
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--main-orange);
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.teamsButton:hover{
    background-color: orange;
    transition: 0.2s;
}

